* {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Paprika', cursive;
}
a {
  text-decoration: none;
}
ol,
ul,
li {
  list-style-type: none;
}

/* ================ Nav_Start =============== */

.nav_bar {
  opacity: 0.5;
  background: #160c6d;
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link ul {
  column-gap: 68px;
}

.nav_link ul li a {
  color: #eff4fa;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nav_link ul li a:hover {
  color: #1bbf00;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nav_btn {
  padding: 10px 20px;
  display: inline-block;
  background: #1bbf00;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.nav_btn a {
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 200%; /* 36px */
  text-transform: capitalize;
}

/* ================ Nav_End =============== */

/* ================ Banner_Start =============== */

.banner {
  background: url(../images/banner.jpg) no-repeat center;
  background-size: cover;
}

.banner_overlay {
  opacity: 0.9;
  background: #6b62c5;
  height: 100vh;
}

.banner_content h1 {
  color: #fafafe;
  text-align: center;
  font-family: Open Sans;
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; /* 119.048% */
  text-transform: capitalize;
  padding-top: 100px;
}

.banner_content p {
  padding-top: 30px;
  color: #e6e5f3;
  text-align: center;
  font-family: Paprika;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
  width: 715px;
  margin: auto;
}

.banner_bottom {
  margin-top: 20px;
  column-gap: 28px;
  justify-content: center;
}
.banner_btn_1 {
  border-radius: 100px;
  background: #1bbf00;
  padding: 20px 40px;
}
.banner_btn_1 a {
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  text-transform: capitalize;
}

.banner_btn_2 {
  border-radius: 100px;
  border: 2px solid #1bbf00;
  padding: 20px 40px;
}
.banner_btn_2 a {
  color: #f9f9f9;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}

/* ============ Banner_End =========== */

/* ============ Home_Start =========== */
#home {
  background: #f9f9fb;
}
.home_box {
  justify-content: space-between;
  padding: 240px 0px;
}

.home_item_1 {
  text-align: center;
}
.home_item_1 h2 {
  color: #1bbf00;
  font-family: Open Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px; /* 106.25% */
}

.home_item_1 h3 {
  color: #141135;
  font-family: Open Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  text-transform: capitalize;
}

.home_item_2 h2 {
  width: 3px;
  height: 132px;
  flex-shrink: 0;
  stroke-width: 3px;
  stroke: #4f585f;
  opacity: 0.2;
  background-color: #160c6d;
}

.home_overlay {
  background: url(../images/element_1.png) no-repeat right top;
}
/* ============ Home_End =========== */

/* ============ About_Start =========== */
#about {
  background: #fdfdfd;
}

.about_overlay {
  background: url(../images/element_2.png) no-repeat;
}

.abt_pd {
  padding-top: 90px;
}

.ab_lft {
  border-radius: 12px;
  margin-bottom: 20px;
}
.ab_lft:hover {
  box-shadow: 10px 30px 60px 0px rgba(162, 169, 192, 0.15);
  background: #fff;
}
.about_left_1 img {
  padding: 40px 20px;
}
.about_left_2 p {
  color: #726e9e;
  font-family: Paprika;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 319px;
  padding-top: 20px;
}

.about_right {
  padding-left: 150px;
  padding-top: 30px;
  padding-bottom: 270px;
}
.about_right h1 {
  color: #141135;
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about_right p {
  color: #726e9e;
  font-family: Paprika;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 300px;
  padding-bottom: 20px;
}

/* ============ About_ENd =========== */

/* ============ Portfolio_Start =========== */

#portfolio {
  background: #f6f5ff;
}

.portfolio_content {
  padding: 100px 0px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
}

.port_1 h1 {
  color: #141135;
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.port_1 p {
  color: #6c7d93;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: 0.5px;
}

.port_2 {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 30px 60px 0px rgba(162, 169, 192, 0.1);
  text-align: center;
  padding: 40px 0px;
}

.port_2:hover {
  color: #fafafe;
  border-radius: 20px;
  background: #6b62c5;
  box-shadow: 0px 30px 60px 0px rgba(162, 169, 192, 0.1);
}

.port_2 h1 {
  padding-top: 30px;
  color: #141135;
  text-align: center;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
}
.port_2 p {
  color: #726e9e;
  text-align: center;
  font-family: Paprika;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.port_2 h3 {
  color: #141135;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  display: inline-block;
  opacity: 0.5;
  background: #1bbf00;
  padding: 5px 10px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.btn_hover {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 100px 100px 100px 100px;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.portfolio_btn a {
  color: #141135;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
}

.btn_hover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background: rgba(27, 191, 0, 0.5);
  transition: all linear 0.4s;
}

.btn_hover:hover::after {
  width: 100%;
}
.port_2:hover h1 {
  color: #fff;
}
.port_2:hover p {
  color: #fff;
}
.port_2:hover .portfolio_btn a {
  color: #fff;
}

/* ============ Portfolio_ENd =========== */

/* ============ Price_Start =========== */
.price_overlay {
  background: url(../images/Vector.png) no-repeat right bottom;
  position: relative;
}
.price_content {
  padding-top: 90px;
}
.price_content_top {
  text-align: center;
}

.price_content_top h1 {
  color: #141135;
  text-align: center;
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.price_content_top p {
  color: #726e9e;
  text-align: center;
  font-family: Paprika;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 420px;
  margin: auto;
}

.price_content_bottom {
  margin-top: 70px;
}

.price_bottom_left {
  margin-top: 40px;
}

.price_item {
  column-gap: 35px;
  margin-bottom: 40px;
}

.price_item_content h1 {
  color: #141135;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.price_item_content p {
  color: #726e9e;
  font-family: Paprika;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 300px;
}

.price_bottom_right {
  width: 50%;
  /* background: #1bbf00; */
}
/* ============ Price_ENd =========== */

/* ============ Blog_Start =========== */
.blog_content {
  padding: 90px 0px;
  background: #f9f9fb;
}

.blog_item:hover h1 {
  color: white;
}
.blog_item:hover h2 {
  color: white;
}
.blog_item:hover p {
  color: white;
}
.blog_item {
  text-align: center;
  padding: 60px 0px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 30px 60px 0px rgba(162, 169, 192, 0.15);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.blog_item:hover {
  border-radius: 20px;
  background: #6b62c5;
  box-shadow: 0px 30px 60px 0px rgba(162, 169, 192, 0.15);
}
.blog_content_top h1 {
  color: #141135;
  text-align: center;
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: auto;
  padding-bottom: 60px;
}

.blog_item h1 {
  color: #141135;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  margin-bottom: 15px;
}

.blog_item h2 {
  color: #1bbf00;
  font-family: Nunito;
  font-size: 48px;
  font-style: normal;
  /* font-weight: 800; */
  line-height: 50px; /* 104.167% */
  margin-top: 20px;
}

.blog_item p {
  color: #726e9e;
  text-align: center;
  font-family: Paprika;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  width: 250px;
  margin: auto;
}
/* ============ Blog_ENd =========== */

/* ============ Profile_Start =========== */

.profile_content {
  text-align: center;
  background: #f8f8ff;
  padding: 100px 0px;
}

.profile_content_top h1 {
  color: #141135;
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 150px;
}

.pro_con_top picture img {
  width: 147px;
  height: 147px;
  flex-shrink: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.pro_con_top {
  position: absolute;
  margin-top: -90px;
  margin-left: 38%;
}
.pro_con_top ul {
  justify-content: center;
  column-gap: 5px;
  margin-left: -10%;
  margin-top: 25px;
}
.pro_con_top ul li a {
  color: #ff7628;
}
.pro_con_bottom {
  margin: auto;
  padding-top: 100px;
  border-radius: 20px;
  background: #fff;
  box-shadow: -15px 30px 50px 0px rgba(171, 175, 199, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.pro_con_bottom p {
  color: #726e9e;
  text-align: center;
  font-family: Paprika;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
  width: 700px;
  margin: auto;
  margin-top: 40px;
}
.pro_con_bottom h2 {
  color: #221a2c;
  font-family: Open Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
}
.pro_con_bottom h4 {
  color: #726e9e;
  font-family: Paprika;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 50px;
}
/* ============ Profile_ENd =========== */

/* ============ Information_Start =========== */

.information_overlay {
  background: url(../images/entertainment.png) no-repeat bottom left;
}

.information_content {
  padding-top: 90px;
  padding-bottom: 50px;
}

.information_top h1 {
  color: #030314;
  text-align: center;
  font-family: Open Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px; /* 130% */
  letter-spacing: -2px;
  margin-left: 100px;
  text-align: left;
  padding-bottom: 50px;
}

.info_item_left {
  margin-bottom: 30px;
}

.item_right_top ul {
  padding: 0;
  column-gap: 15px;
}
.item_right_top a {
  color: #726e9e;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 156.25% */
  list-style: none;
}

.item_right_top a:hover {
  color: #1bbf00;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  letter-spacing: -1px;
}

.info_item_right h1 {
  color: #141135;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 183.333% */
  letter-spacing: -1.5px;
  width: 500px;
  margin-left: px;
}

.information_btn a {
  background-color: #1bbf00;
  color: #141135;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  margin-left: 30px;
  border-radius: 0px 100px 100px 0px;
  opacity: 0.3;
  width: 27px;
  height: 40px;
  flex-shrink: 0;
}
/* ============ Information_ENd =========== */

/* ============ Footer_Start =========== */
.footer_overlay {
  background: #48409c;
}
.footer_content {
  padding-top: 60px;
  padding-bottom: 50px;
}
.footer_top {
  display: flex;
  align-items: center;
}
.footer_left {
  width: 40%;
}
.footer_left img {
  margin-bottom: 50px;
}

.footer_left p {
  color: #fefefe;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
  text-transform: capitalize;
  width: 440px;
  margin-left: 0px;
}

.footer_right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer_right_item {
  padding-top: 50px;
  align-items: center;
  margin-top: 0px;
}
.footer_right_item h2 {
  color: #fefefe;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  margin-bottom: 18px;
}
.footer_right_item ul {
  padding: 0;
}
.footer_right_item ul li {
  padding-top: 10px;
}
.footer_right_item ul li a {
  color: #fefefe;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  text-transform: capitalize;
}

.footer_bottom {
  align-items: center;
  margin-top: 70px;

}
.bottom_left p {
  color: #fefefe;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
  text-transform: capitalize;
  opacity: 0.9;
}
.bottom_right{
  margin-right: 100px;
}
.bottom_right ul {
  padding: 0;
  column-gap: 50px;
}

.bottom_right ul a {
  color: #fefefe;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
  text-transform: capitalize;
  opacity: 0.9;
}
/* ============ Footer_ENd =========== */
